/* .congrats {
    background-image: url('/src/assets/congrats.jpg');
    width: 100%;
    background-size: cover;
}

input::placeholder {
    font-size: 14px;
    padding-left: 10px;
}

input {
    width: 100% !important;
}

.center-input {
    margin: 0 auto;
}

.mybtn {
    background: linear-gradient(to right, #f3b667, #dc6c60);
    border-radius: 20px;
    padding: 0.5rem 4rem !important;
    color: white;
    font-weight: 700;
    box-shadow: 5px 6px 10px rgba(0, 0, 0, 0.322);
}

.mybtn:hover,
.mybtn:active {
    color: white;
}

.error-input {
    border-color: red !important;
}

.error-message {
    color: red !important;
    text-align: start;
    margin-top: -0.8rem;
    padding-left: 5.5rem;
}

@media screen and (max-width: 400px) {

    input {
        width: 100% !important;

    }
} */